* {
  box-sizing: border-box;
  border: 1px solid black;
}

html,
body {
  min-height: 100%;
  background: #fff;
  color: #000;
}

body {
  font-size: 1.4rem;
  text-rendering: optimizeLegibility;
}

body,
ul,
ol,
dl {
  margin: 0;
}

article,
aside,
audio,
footer,
header,
nav,
section,
video {
  display: block;
}

h1 {
  font-size: 1.4rem;
}

p {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

img {
  border: none;
  max-width: 100%;
}

.right {
  float: right;
  margin-left: 2rem;
  clear: right;
}
.left {
  float: left;
  margin-right: 2rem;
  clear: left;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 4fr;
}

.header {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.rightBar {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 1fr 3fr;
}
